# Coorelations of the database 

Correlation matrices for the data set

In [100]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib qt

#print all output in a cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [101]:
columns_solar = ['F10', 'F81','S10', 'S81c', 'M10', 'M81c', 'Y10', 'Y81c','400kmDensity']  

columns_fism = ['225_00', '600_01', '1300_02', '2500_03', '5100_04',
            '11250_05', '18950_06', '25700_07', '30500_08', '43000_09', '59500_10',
            '72400_11', '72400_12', '85550_13', '85550_14', '85550_15', '94400_16',
            '94400_17', '94400_18', '98100_19', '100700_20', '103850_21',
            '113000_22','400kmDensity']

columns_swgeo = ['Bx_GSEGSM','By_GSM', 'Bz_GSM', 
           'Vsw', 'Vx_GSE', 'Vy_GSE', 'Vz_GSE', 'Prho', 'Tp',
           'dynP', 'Esw', 'AE', 'AL', 'AU', 'SYM_H index',
           'storm', 'storm phase','400kmDensity']  

col = columns_fism

sdate = '2012-01-01'

In [102]:
fn = 'D:\\data\\SatDensities\\satdrag_database_grace_B_SI_int.hdf5'
df = pd.read_hdf(fn)

df = df[df['DateTime'] > sdate]

In [103]:
df.columns

Index(['DateTime', 'DateTime_omni', 'B', 'Bx_GSEGSM', 'By_GSE', 'Bz_GSE',
       'By_GSM', 'Bz_GSM', 'Vsw', 'Vx_GSE', 'Vy_GSE', 'Vz_GSE', 'Prho', 'Tp',
       'dynP', 'Esw', 'AE', 'AL', 'AU', 'SYM_D index', 'SYM_H index',
       'ASY_D index', 'ASY_H index', 'PC index', 'Goes Proton flux (>10 MeV)',
       'Goes Proton flux (>30 MeV)', 'Goes Proton flux (>60 MeV)',
       'DateTime_fism2', '225_00', '600_01', '1300_02', '2500_03', '5100_04',
       '11250_05', '18950_06', '25700_07', '30500_08', '43000_09', '59500_10',
       '72400_11', '72400_12', '85550_13', '85550_14', '85550_15', '94400_16',
       '94400_17', '94400_18', '98100_19', '100700_20', '103850_21',
       '113000_22', 'DateTime_si', 'F10', 'F81', 'S10', 'S81c', 'M10', 'M81c',
       'Y10', 'Y81c', 'DateTime_gr', 'CenterLat', 'SatLat', 'SatLon',
       'SatHeight', 'SatLT', 'SatDipoleLat', 'SatMagLon', 'SatMagLT',
       'SatDensity', '400kmDensity', '410kmDensity', 'NRLMSISe00atSat',
       'DenUncertainty', 'NumPts', 'NuminBinThrusters', 'AveDragCoef', 'storm',
       'storm phase'],
      dtype='object')

In [104]:
df[['DateTime', 'F10', 'F81', 'S10', 'S81c', 'M10', 'M81c',
       'Y10', 'Y81c']].head()

,DateTime,F10,F81,S10,S81c,M10,M81c,Y10,Y81c
990721,2012-01-01 00:05:00,134.1,133.8,138.2,141.9,134.5,128.4,133.1,133.9
990722,2012-01-01 00:10:00,134.1,133.8,138.2,141.9,134.5,128.4,133.1,133.9
990723,2012-01-01 00:15:00,134.1,133.8,138.2,141.9,134.5,128.4,133.1,133.9
990724,2012-01-01 00:20:00,134.1,133.8,138.2,141.9,134.5,128.4,133.1,133.9
990725,2012-01-01 00:25:00,134.1,133.8,138.2,141.9,134.5,128.4,133.1,133.9

In [105]:
# storm/quiet data 
st_t = (df['storm']>0.95) & (df['storm']<1.05) # storm times
qt_t = (df['storm']<0) # quiet times
mn_p = (df['storm phase']>0.95) & (df['storm phase']<1.05) # main phase
rc_p = (df['storm phase']>1.95) & (df['storm phase']<2.05) # recovery phase

In [106]:
qt_t.value_counts()
st_t.value_counts()

storm
False    27287
True     25129
Name: count, dtype: int64

storm
True     27287
False    25129
Name: count, dtype: int64

In [107]:
cor_plot = pd.DataFrame()
cor_mat = df[col].dropna().corr()
cor_plot['All'] = df[col].dropna().corr()['400kmDensity']
cor_plot['Quiet'] = df[qt_t][col].dropna().corr()['400kmDensity']
cor_plot['Storm'] = df[st_t][col].dropna().corr()['400kmDensity']
cor_plot['Main'] = df[mn_p][col].dropna().corr()['400kmDensity']
cor_plot['Recovery'] = df[rc_p][col].dropna().corr()['400kmDensity']
try:
    cor_plot['Balanced']= pd.concat([df[st_t][col].dropna().sample(100000),df[qt_t][col].dropna().sample(100000)]).corr()['400kmDensity']
except:
    cor_plot['Balanced']= pd.concat([df[st_t][col].dropna().sample(10000),df[qt_t][col].dropna().sample(10000)]).corr()['400kmDensity']

cor_plot = pd.DataFrame()
cor_mat = df[col].fillna(method='ffill').corr()
cor_plot['All'] = df[col].fillna(method='ffill').corr()['400kmDensity']
cor_plot['Quiet'] = df[qt_t][col].fillna(method='ffill').corr()['400kmDensity']
cor_plot['Storm'] = df[st_t][col].fillna(method='ffill').corr()['400kmDensity']
cor_plot['Main'] = df[mn_p][col].fillna(method='ffill').corr()['400kmDensity']
cor_plot['Recovery'] = df[rc_p][col].fillna(method='ffill').corr()['400kmDensity']
try:
    cor_plot['Balanced']= pd.concat([df[st_t][col].fillna(method='ffill').sample(100000),df[qt_t][col].fillna(method='ffill').sample(100000)]).corr()['400kmDensity']
except:
    cor_plot['Balanced']= pd.concat([df[st_t][col].fillna(method='ffill').sample(10000),df[qt_t][col].fillna(method='ffill').sample(10000)]).corr()['400kmDensity']

In [108]:
plt.figure(figsize=(3, 3))
sns.heatmap(cor_plot[0:-1].abs(),annot=True, fmt='.2f', cbar_kws={'label':'Abs Correlation - abs(r)'})
plt.yticks(rotation=30) 
plt.show()

(array([ 0.5,  2.5,  4.5,  6.5,  8.5, 10.5, 12.5, 14.5, 16.5, 18.5, 20.5,
        22.5]),
 [Text(0, 0.5, '225_00'),
  Text(0, 2.5, '1300_02'),
  Text(0, 4.5, '5100_04'),
  Text(0, 6.5, '18950_06'),
  Text(0, 8.5, '30500_08'),
  Text(0, 10.5, '59500_10'),
  Text(0, 12.5, '72400_12'),
  Text(0, 14.5, '85550_14'),
  Text(0, 16.5, '94400_16'),
  Text(0, 18.5, '94400_18'),
  Text(0, 20.5, '100700_20'),
  Text(0, 22.5, '113000_22')])

In [109]:
col.append('DateTime')

In [110]:
df[col].head()

,225_00,600_01,1300_02,2500_03,5100_04,11250_05,18950_06,25700_07,30500_08,43000_09,...,85550_15,94400_16,94400_17,94400_18,98100_19,100700_20,103850_21,113000_22,400kmDensity,DateTime
990721,27893.199577,582361.993067,5.042347e+07,1.171063e+08,7.419762e+08,1.654089e+09,8.298676e+09,6.610125e+09,9.835010e+09,1.030284e+10,...,4.805591e+09,9.982523e+08,2.499077e+09,1.981664e+09,7.707198e+09,7.344945e+09,8.333699e+09,3.322433e+10,3.326204e-12,2012-01-01 00:05:00
990722,27302.408627,579020.881918,5.041132e+07,1.171005e+08,7.419588e+08,1.654041e+09,8.298495e+09,6.610125e+09,9.835331e+09,1.030292e+10,...,4.805675e+09,9.982844e+08,2.499163e+09,1.981755e+09,7.707370e+09,7.345213e+09,8.333944e+09,3.322499e+10,3.005557e-12,2012-01-01 00:10:00
990723,26765.359286,575983.632481,5.040022e+07,1.170950e+08,7.419420e+08,1.653993e+09,8.298316e+09,6.610124e+09,9.835649e+09,1.030300e+10,...,4.805757e+09,9.983164e+08,2.499248e+09,1.981844e+09,7.707542e+09,7.345481e+09,8.334188e+09,3.322630e+10,2.579522e-12,2012-01-01 00:15:00
990724,26443.239895,574160.839148,5.039330e+07,1.170910e+08,7.419271e+08,1.653945e+09,8.298137e+09,6.610123e+09,9.835967e+09,1.030308e+10,...,4.805840e+09,9.983483e+08,2.499333e+09,1.981934e+09,7.707713e+09,7.345748e+09,8.334432e+09,3.322538e+10,2.696707e-12,2012-01-01 00:20:00
990725,26604.706595,575070.199132,5.039573e+07,1.170904e+08,7.419163e+08,1.653897e+09,8.297959e+09,6.610122e+09,9.836284e+09,1.030316e+10,...,4.805921e+09,9.983801e+08,2.499417e+09,1.982023e+09,7.707884e+09,7.346013e+09,8.334674e+09,3.322228e+10,2.282070e-12,2012-01-01 00:25:00