# GOES EUV Comparisons

Compare overlapping EUV observations for GOES 8 through 18.
- Determin how well the fluxes match by fitting a line to pairs
    - Nominal Slope: 1
    - Nominal Intercept: 0

Identify which pairs most closely match to GOES R-Series (16,17,18). These satellites can be used to train with real-time data for one an operational models.

In [1]:
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import pandas as pd
import numpy.ma as ma

from netCDF4 import Dataset

In [2]:
fn = "D:\data\GOES\EUVS\sci_geuv-l2-avg1m_g15_s20100325_e20200304_v5-0-0.nc"

f = Dataset(fn)
print(f)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: ACDD-1.3, Spase v2.2.6
    title: GOES 13-15 L2 EUVS 1-min-averaged irradiances and flags.
    summary: The GOES 13-15 Extreme Ultraviolet Sensor (EUVS) measured EUV irradiances in 5 broadband channels. For GOES 13 and 15, these were channels A (5-15 nm), B (25-34 nm), C(two bands in 17-67 nm), D(three bands in 17-84 nm) and E(118-127 nm). GOES-14 measured the A and B channels twice as well as the E channel. This product provides 1-minute average irradiance values and flags for Channels B and E and the relevant 1-nm bandpasses for the 30.4 and 121-nm spectral lines (He II and Lyman alpha).
    keywords: NumericalData.MeasurementType.Irradiance
    keywords_vocabulary: SPASE: Space Physics Archive Search and Extract Data Model version 2.2.6, GCMD: NASA Global Change Master Directory (GCMD) Earth Science Keywords version 8.5
    naming_authority: gov.nesdis.noaa
    history: See algorithm information.
    source: GOES EUVS irradiances and flags at 1-minute cadence
    processing_level: Level 2
    processing_level_description: Derived products
    license: These data may be redistributed and used without restriction.
    acknowledgment: NOAA Award NA20NES4400005
    metadata_link:
    creator_name: Allyssa Riley, Janet Machol
    creator_type: person
    creator_institution: DOC/NOAA/NESDIS/NCEI/OGSSD/STP
    creator_email: goesr.exis@noaa.gov
    creator_url: https://www.ncei.noaa.gov/
    institution: DOC/NOAA/NESDIS
    publisher_name: National Centers for Environmental Information
    publisher_type: institution
    publisher_institution: DOC/NOAA/NESDIS/NCEI
    publisher_email: goesr.exis@noaa.gov
    publisher_url: https://www.ncei.noaa.gov/
    references:
    instrument: GOES 13-15 Extreme Ultraviolet Sensor (EUVS)
    instrument_id:
    orbital_slot:
    program: Geostationary Operational Environmental Satellite (GOES)
    project: Geostationary Operational Environmental Satellite (GOES) Solar Terrestrial Physics at NCEI
    L1b_system_environment:
    L1b_production_site:
    time_coverage_resolution: PT1M
    processing_parameters_file:
    algorithm_version:
    algorithm_date:
    algorithm_parameters: None
    input_system_environments:
    id: /nfs/stp_goesr/exis/goes_nop/euvs/geuv-l2-avg1m/goes15/sci_geuv-l2-avg1m_g15_20100325_20200304_v0-0-0.nc
    date_created: 2023-02-17T18:40:16
    platform: G15
    time_coverage_start: 2010-03-25 00:00:00
    time_coverage_end: 2020-03-04 23:59:00
    algorithm: make_1min_v2.py
    input_files_first: /nfs/stp_goesr/exis/goes_nop/euvs/geuv-l2-avg1m/goes15/2010/03/sci_geuv-l2-avg1m_g15_d20100325_v0-0-1.nc
    input_files_last: /nfs/stp_goesr/exis/goes_nop/euvs/geuv-l2-avg1m/goes15/2020/03/sci_geuv-l2-avg1m_g15_d20200304_v0-0-1.nc
    input_files_total: 3629
    version: 0.0.0
    dimensions(sizes): time(5231520), bounds(2), no_of_wavelengths(2)
    variables(dimensions): float64 time(time), float32 irr_chanB(time), float32 irr_chanE_uncorr(time), float32 irr_304_1nm(time), float32 irr_1216_1nm(time), uint8 irr_304_flag(time), uint8 irr_1216_flag(time), float32 au_factor(time), uint8 geocorona_flag(time), float32 wavelength_bounds(no_of_wavelengths, bounds), float32 wavelength(no_of_wavelengths)
    groups:

In [3]:
irr = ma.getdata(f.variables['irr_1216_1nm'][:])
dt = ma.getdata(f.variables['time'][:])

dt_shift = pd.to_datetime('2000-01-01 12:00:00').value*1E-9

In [4]:
g_df = pd.DataFrame()
g_df['irr_1216'] = irr
g_df['DateTime'] = pd.to_datetime(dt + dt_shift, unit='s')

In [6]:
import numpy as np

bd = g_df['irr_1216'] < 0
g_df.loc[bd,'irr_1216'] = np.NaN

In [7]:
f.close()

In [9]:
fn = 'D:\\data\\SatDensities\\satdrag_database_grace_GC_v3.hdf5'
database = pd.read_hdf(fn)

In [10]:
g_tol = pd.Timedelta('31 seconds')
database = pd.merge_asof(left=database,right=g_df,left_on='DateTime',right_on='DateTime',
                             direction='nearest',tolerance=g_tol)

In [11]:
database.head()

,DateTime,DateTime_omni,Year,DOY,Hour,Minute,IMF_id,SW_id,IMF_pt,SW_pt,...,lst,arglat,dens_x,dens_mean,flag_0,flag_1,DateTime_gr,storm,storm phase,irr_1216
0,2018-05-29 09:40:00,2018-05-29 09:40:00,2018,149,9,40,51.0,51.0,5.0,5.0,...,11.465,178.023,7.300633e-14,3.878265e-14,0.0,0.0,2018-05-29 09:40:00,-1,-1,0.006039
1,2018-05-29 09:45:00,2018-05-29 09:45:00,2018,149,9,45,51.0,51.0,5.0,2.0,...,11.487,197.079,6.438684e-14,3.885634e-14,0.0,0.0,2018-05-29 09:45:00,-1,-1,0.006046
2,2018-05-29 09:50:00,2018-05-29 09:50:00,2018,149,9,50,51.0,51.0,5.0,5.0,...,11.515,216.135,5.127300e-14,3.893004e-14,0.0,0.0,2018-05-29 09:50:00,-1,-1,0.006058
3,2018-05-29 09:55:00,2018-05-29 09:55:00,2018,149,9,55,51.0,51.0,5.0,4.0,...,11.562,235.188,4.221537e-14,3.853565e-14,0.0,0.0,2018-05-29 09:55:00,-1,-1,0.006029
4,2018-05-29 10:00:00,2018-05-29 10:00:00,2018,149,10,0,51.0,51.0,5.0,4.0,...,11.702,254.236,9.481816e-15,3.814127e-14,0.0,0.0,2018-05-29 10:00:00,-1,-1,0.006024

In [12]:
database.to_hdf(fn,key='database', mode='w', format='table', complevel=7)

In [14]:
dens_col = ['dens_x']
columns = ['irr_1216','dens_x']

cor_plot = pd.DataFrame()
cor_plot['All'] = database[columns].dropna().corr()[dens_col]

In [15]:
cor_plot

               All
irr_1216  0.102831
dens_x    1.000000

In [17]:
g_df

            irr_1216            DateTime
0       -9999.000000 2010-03-25 00:00:00
1       -9999.000000 2010-03-25 00:01:00
2       -9999.000000 2010-03-25 00:02:00
3       -9999.000000 2010-03-25 00:03:00
4       -9999.000000 2010-03-25 00:04:00
...              ...                 ...
5231515     0.005846 2020-03-04 23:55:00
5231516     0.005833 2020-03-04 23:56:00
5231517     0.005836 2020-03-04 23:57:00
5231518     0.005849 2020-03-04 23:58:00
5231519     0.005876 2020-03-04 23:59:00

[5231520 rows x 2 columns]

In [20]:
pd.to_datetime(f.variables['time'].units)

DateParseError: Unknown datetime string format, unable to parse: seconds since 2000-01-01 12:00:00 UTC, at position 0

In [3]:
a = pd.to_datetime('2000-01-01 12:00:00')

In [4]:
a

Timestamp('2000-01-01 12:00:00')

In [5]:
a.value

946728000000000000

In [15]:
pd.to_datetime(a.value*1E-9, unit='s')

Timestamp('2000-01-01 12:00:00')

In [6]:
pd.to_datetime(f.variables['time'][-1]+a.value)

Timestamp('2000-01-01 12:00:00.636638336')

In [18]:
pd.to_datetime(ma.getdata(f.variables['time'][0])+(a.value*1E-9),unit='s')

Timestamp('2010-03-25 00:00:00')

In [10]:
g_df

            irr_1216                      DateTime
0       -9999.000000 1970-01-01 00:00:00.322747200
1       -9999.000000 1970-01-01 00:00:00.322747260
2       -9999.000000 1970-01-01 00:00:00.322747320
3       -9999.000000 1970-01-01 00:00:00.322747380
4       -9999.000000 1970-01-01 00:00:00.322747440
...              ...                           ...
5231515     0.005846 1970-01-01 00:00:00.636638100
5231516     0.005833 1970-01-01 00:00:00.636638160
5231517     0.005836 1970-01-01 00:00:00.636638220
5231518     0.005849 1970-01-01 00:00:00.636638280
5231519     0.005876 1970-01-01 00:00:00.636638340

[5231520 rows x 2 columns]